@model List<Model.ModelView.M_HitchInfoView>
@{
    ViewBag.Title = "预警";
}
<style>
    .drp {
        width: 100px;
        height: 30px;
    }
</style>

<nav class="breadcrumb"></nav>
<div class="Hui-article">
    <article class="cl pd-20">
        
        
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="9">信息列表</th>
                </tr>
                <tr class="text-c">
                    <th width="90">序号</th>
                    <th width="90">厂站</th>
                    <th width="300">信号</th>
                    <th width="100">日期</th>
                    <th width="100">当日预计次数</th>
                    <th width="100">当日实际次数</th>
                    <th width="100">差值</th>
                </tr>
            </thead>
            <tbody>
                @{ int index = 0; }
                @foreach (var item in Model)
                {
                    index++;
                    <tr class="text-c">
                        <td width="90">@index</td>
                        <td width="90">@item.FactorySation</td>
                        <td width="300">@item.Signal</td>
                        <td width="100">@Request.QueryString["date"]</td>
                        <td width="100">@item.PlanTimes</td>
                        <td width="100">@item.HappenTimes</td>
                        <td width="100">@(item.HappenTimes-item.PlanTimes)</td>

                    </tr>
                }
               
            </tbody>
        </table>


        <div style="margin:0;text-align:center;margin-top:15px" id="page1"></div>
    </article>
</div>


@section  scripts
{
    <script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="~/lib/date.js"></script>
    <script src="~/lib/operate.js"></script>
    <style>
        .abc {
            background-color: #a09a9a;
        }
    </style>
   

}

