@{
    ViewBag.Title = "模块管理";
}
@model List<Model.Module>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 意见反馈 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="text-c">
            日期范围：
            <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
            <input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜意见</button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加模块', '/System/ModuleAdd', '800', '500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
           
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="9">模块列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th>模块名称</th>
                    <th width="150">模块地址</th>
                    <th width="150">模块图标</th>
                    <th width="130">是否显示</th>
                 </tr>
            </thead>
            <tbody id="view1">
               @foreach (var item in Model.Where(a=>a.ParentId==0))
               {
                  

                <tr class="text-c">
                    <td><input type="checkbox" value="@item.ModuleId" name=""></td>
                    <td>@item.ModuleId</td>
                    <td class="text-l">@item.ModuleName</td>
                    <td></td>
                    <td><i class="Hui-iconfont">@Html.Raw(item.Icon)</i></td>
                      @if (item.IsShow == 1)
                      {
                          <td>显示</td>
                      }
                      else
                      {
                        <td>隐藏</td>
                      }
                   
                </tr>
                   foreach (var item1 in Model.Where(a => a.ParentId == item.ModuleId))
                   {
                    <tr class="text-c">
                        <td ><input type="checkbox" value="@item1.ModuleId" name=""></td>
                        <td>@item1.ModuleId</td>
                        <td class="text-l">&nbsp;&nbsp;├&nbsp;@item1.ModuleName</td>
                        <td>@item1.ControllerName/@item1.ActionName</td>
                        <td>@Html.Raw(item1.Icon)</td>
                        @if (item1.IsShow == 1)
                        {
                            <td>显示</td>
                        }
                        else
                        {
                            <td>隐藏</td>
                        }
                    </tr>
                   }
               }
                @*<tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>1</td>
                        <td><a href="javascript:;" onclick="member_show('张三','member-show.html','10001','360','400')"><i class="avatar size-L radius"><img alt="" src="http://static.h-ui.net/h-ui/images/avatar-default-S.gif"></i></a></td>
                        <td class="text-l">
                            <div class="c-999 f-12">
                                <u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">张三</u> <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time> <span class="ml-20">13000000000</span> <span class="ml-20">admin@mail.com</span>
                            </div>
                            <div class="f-12 c-999"><a href="http://www.h-ui.net/Hui-4.22-comment.shtml" target="_blank">http://www.h-ui.net/Hui-4.22-comment.shtml</a></div>
                            <div>留言内容</div>
                        </td>
                        <td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>1</td>
                        <td><a href="javascript:;" onclick="member_show('张三','member-show.html','10001','360','400')"><i class="avatar size-L radius"><img alt="" src="http://static.h-ui.net/h-ui/images/avatar-default-S.gif"></i></a></td>
                        <td class="text-l">
                            <div class="c-999 f-12">
                                <u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">张三</u> <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time> <span class="ml-20">13000000000</span> <span class="ml-20">admin@mail.com</span>
                            </div>
                            <div class="f-12 c-999"><a href="http://www.h-ui.net/Hui-4.22-comment.shtml" target="_blank">http://www.h-ui.net/Hui-4.22-comment.shtml</a></div>
                            <div>留言内容</div>
                        </td>
                        <td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>1</td>
                        <td><a href="javascript:;" onclick="member_show('张三','member-show.html','10001','360','400')"><i class="avatar size-L radius"><img alt="" src="http://static.h-ui.net/h-ui/images/avatar-default-S.gif"></i></a></td>
                        <td class="text-l">
                            <div class="c-999 f-12">
                                <u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">张三</u> <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time> <span class="ml-20">13000000000</span> <span class="ml-20">admin@mail.com</span>
                            </div>
                            <div class="f-12 c-999"><a href="http://www.h-ui.net/Hui-4.22-comment.shtml" target="_blank">http://www.h-ui.net/Hui-4.22-comment.shtml</a></div>
                            <div>留言内容</div>
                        </td>
                        <td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>1</td>
                        <td><a href="javascript:;" onclick="member_show('张三','member-show.html','10001','360','400')"><i class="avatar size-L radius"><img alt="" src="http://static.h-ui.net/h-ui/images/avatar-default-S.gif"></i></a></td>
                        <td class="text-l">
                            <div class="c-999 f-12">
                                <u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">张三</u> <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time> <span class="ml-20">13000000000</span> <span class="ml-20">admin@mail.com</span>
                            </div>
                            <div class="f-12 c-999"><a href="http://www.h-ui.net/Hui-4.22-comment.shtml" target="_blank">http://www.h-ui.net/Hui-4.22-comment.shtml</a></div>
                            <div>留言内容</div>
                        </td>
                        <td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>*@
            </tbody>
        </table>


        <div style="margin:0;text-align:center;margin-top:15px" id="page1"></div>
    </article>
</div>


@section  scripts
{
    <script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
    $(function ()
    {
       
    }
    )
    function demo(page) {
        $.post('/api/ApiUser/GetUerList',
           { "page": page, "rows": 20, "sord": "desc", "sidx": "UserId" } //向服务端传的参数，此处只是演示
        , function (res) {
            $("#total").html(res.records);
            var strhtml="";
            //此处仅仅是为了演示变化的内容
            for (var i = 0; i < res.rows.length; i++) {
                strhtml+="<tr class=\"text-c\">";
                strhtml+="<td><input type=\"checkbox\" value=\"1\" name=\"\"></td>";
                strhtml += "<td >" + res.rows[i].userid + "</td>";
                if (i == 1 || i == 5) {
                    strhtml += "<td class=\"text-l\">" + res.rows[i].account + "</td>";

                }
                else {
                    strhtml += "<td class=\"text-l\">&nbsp;&nbsp;├&nbsp;" + res.rows[i].account + "</td>";

                }
                strhtml += "<td>" + res.rows[i].userid + "</td>";
                strhtml += "<td>" + res.rows[i].userid + "</td>";
                strhtml += "<td>" + res.rows[i].userid + "</td>";
                strhtml+="<td class=\"td-manage\"><a title=\"编辑\" href=\"javascript:;\" onclick=\"member_edit('编辑','member-add.html','4','','510')\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6df;</i></a> <a title=\"删除\" href=\"javascript:;\" onclick=\"member_del(this,'1')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a></td> ";
                strhtml+="</tr>"

            }
            document.getElementById('view1').innerHTML = strhtml;

            laypage({
                cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                pages: res.total, //通过后台拿到的总页数
                curr: res.page, //当前页
                skip: true,
                groups: 10,//连续分页数
                jump: function (obj, first) { //触发分页后的回调
                    if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                        demo(obj.curr);
                    }
                }
            });
        },"json");
    };
    //$(function () {
    //    $('.table-sort').dataTable({
    //        "paging": true,
    //        "lengthChange": true,
    //        "searching": true,
    //        "ordering": true,
    //        "aaSorting": [[0, "asc"]], //默认的排序方式，第1列，升序排列
    //        "info": true,
    //        "autoWidth": false,
    //        "destroy": true,
    //        "processing": true,
    //        "scrollX": true,   //水平新增滚动轴
    //        //          "serverSide":true,    //true代表后台处理分页，false代表前台处理分页
    //        "aLengthMenu": [10, 15, 20],
    //        ajax: {
    //            "url": "/api/ApiUser/GetUerList",
    //            "type": "POST",
    //            "data": { "page": 1, "rows": 15, "sord": "desc", "sidx": "UserId" },
    //            "dataSrc": function (json) {
    //                return json.rows;
    //            }
    //        },
    //        "columns": [
    //            { "data": "userid" },
    //            { "data": "account" },
    //        ]

    //        //"aaSorting": [[ 1, "desc" ]],//默认第几个排序
    //        //"bStateSave": true,//状态保存
    //        //"aoColumnDefs": [
    //        //  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
    //        //  {"orderable":false,"aTargets":[0,2,4]}// 制定列不参与排序
    //        //]
    //    });
    //    $('.table-sort tbody').on('click', 'tr', function () {
    //        if ($(this).hasClass('selected')) {
    //            $(this).removeClass('selected');
    //        }
    //        else {
    //            table.$('tr.selected').removeClass('selected');
    //            $(this).addClass('selected');
    //        }
    //    });
    //});
    /*用户-添加*/

    function admin_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!',{icon: 6,time:1000});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
    </script>

}

