@{
    ViewBag.Title = "模块管理";
}
@using BLL;
@model List<Model.Role>

<nav class="breadcrumb"></nav>
<div class="Hui-article">
    @{RoleBll bll = new RoleBll(); }

    <article class="cl pd-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20" id="operate">
            <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加模块', '/System/RoleModuleOperate', '800', '500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="9">角色列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th width="150">角色名称</th>
                    <th width="150">用户列表</th>
                    <th width="150">排序</th>
                    <th width="150">创建时间</th>
                    <th width="150">创建用户</th>
                </tr>
            </thead>
            <tbody id="view1">
        
                @foreach (var item in Model)
                {
                    <tr class="text-c" >
                        <td><input type="checkbox" value="@item.RoleId" name=""></td>
                        <td>@item.RoleId</td>
                        <td>@item.RoleName</td>
                        <td>@bll.GetRoleUserByRoleId(item.RoleId)</td>
                        <td>@item.Sort</td>
                        <td><i class="Hui-iconfont">@item.CreateTime.ToString("yyyy-MM-dd")</i></td>
                        <td>@item.CreateUserName</td>
                    </tr>
                   
                }
               
            </tbody>
        </table>


        <div style="margin:0;text-align:center;margin-top:15px" id="page1"></div>

    </article>
</div>


@section  scripts
{
    <script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
    <script src="~/lib/operate.js"></script>
    <script type="text/javascript">
       
        $(function () {
            operateButton();
            $("#view1").children().click(function()
            {
                if ($(this).children().find(":checkbox").prop("checked"))
                {
                    $(this).children().find(":checkbox").prop("checked",false);
                }
                else
                {
                    $(this).children().find(":checkbox").prop("checked",true);
                }
             }
            );
            $("#view1").children().mouseover(function()
            {
                $(this).css("background-color","#f5fafe");
                $(this).siblings().css("background-color","");
            }
            );
        }
        );
        function btn_power()
        {
            if ($("#view1").find(":checkbox:checked").length == 1) {
                var roleid = $("#view1").find(":checkbox:checked").val();
                admin_add('赋权', '/System/RoleModuleOperate?roleid='+roleid, '800', '500')
            }
            else {
                $.Huimodalalert('请选择一个需要修改的数据', 1000)
            }
        }
        function btn_add() {
            admin_add('添加', '/System/RoleAdd', '800', '500')
        }
        function btn_adduser()
        {
            if ($("#view1").find(":checkbox:checked").length == 1) {
                var roleid = $("#view1").find(":checkbox:checked").val();
                admin_add('添加角色人员', '/System/RoleUserAdd?roleid=' + roleid, '800', '500')
            }
            else {
                $.Huimodalalert('请选择一个需要修改的数据', 1000)
            }
        }
        function btn_del()
        {
            if ($("#view1").find(":checkbox:checked").length > 0) {
                if (confirm("你确定删除吗"))
                {
                    loading1();
                    var roleid = "";
                    $("#view1").find(":checkbox:checked").each(function (index) {
                        if (roleid == "") {
                            roleid = $(this).val();
                        }
                        else {
                            roleid += "," + $(this).val();
                        }

                    }
                    );

                    $.post("/api/ApiRole/RoleDel", { "roleidlist": roleid }, function (data) {
                        removeLoading('test');
                       // alert("删除成功");
                        location.href = location.href

                    }, "json"
                    )
                   
                }
            
            }
            else {
                $.Huimodalalert('请勾选要删除的数据', 1000)
            }
        }
        function btn_edit() {
            if ($("#view1").find(":checkbox:checked").length == 1) {
                var roleid=$("#view1").find(":checkbox:checked").val();
                admin_add('修改', '/System/RoleAdd?RoleId=' + roleid, '800', '500')
            }
            else {
                $.Huimodalalert('请选择一个需要修改的数据',1000)
            }
           
        }
       
            function demo(page) {
                $.post('/api/ApiUser/GetUerList',
                   { "page": page, "rows": 20, "sord": "desc", "sidx": "UserId" } //向服务端传的参数，此处只是演示
                , function (res) {
                    $("#total").html(res.records);
                    var strhtml="";
                    //此处仅仅是为了演示变化的内容
                    for (var i = 0; i < res.rows.length; i++) {
                        strhtml+="<tr class=\"text-c\">";
                        strhtml+="<td><input type=\"checkbox\" value=\"1\" name=\"\"></td>";
                        strhtml += "<td >" + res.rows[i].userid + "</td>";
                        if (i == 1 || i == 5) {
                            strhtml += "<td class=\"text-l\">" + res.rows[i].account + "</td>";

                        }
                        else {
                            strhtml += "<td class=\"text-l\">&nbsp;&nbsp;├&nbsp;" + res.rows[i].account + "</td>";

                        }
                        strhtml += "<td>" + res.rows[i].userid + "</td>";
                        strhtml += "<td>" + res.rows[i].userid + "</td>";
                        strhtml += "<td>" + res.rows[i].userid + "</td>";
                        strhtml+="<td class=\"td-manage\"><a title=\"编辑\" href=\"javascript:;\" onclick=\"member_edit('编辑','member-add.html','4','','510')\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6df;</i></a> <a title=\"删除\" href=\"javascript:;\" onclick=\"member_del(this,'1')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a></td> ";
                        strhtml+="</tr>"

                    }
                    document.getElementById('view1').innerHTML = strhtml;

                    laypage({
                        cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.total, //通过后台拿到的总页数
                        curr: res.page, //当前页
                        skip: true,
                        groups: 10,//连续分页数
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                demo(obj.curr);
                            }
                        }
                    });
                },"json");
            };
   

            function admin_add(title, url, w, h) {
                layer_show(title, url, w, h);
            }

            function member_add(title,url,w,h){
                layer_show(title,url,w,h);
            }
            /*用户-查看*/
            function member_show(title,url,id,w,h){
                layer_show(title,url,w,h);
            }
            /*用户-停用*/
            function member_stop(obj,id){
                layer.confirm('确认要停用吗？',function(index){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                    $(obj).remove();
                    layer.msg('已停用!',{icon: 5,time:1000});
                });
            }

            /*用户-启用*/
            function member_start(obj,id){
                layer.confirm('确认要启用吗？',function(index){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                    layer.msg('已启用!',{icon: 6,time:1000});
                });
            }
            /*用户-编辑*/
            function member_edit(title,url,id,w,h){
                layer_show(title,url,w,h);
            }
            /*密码-修改*/
            function change_password(title,url,id,w,h){
                layer_show(title,url,w,h);
            }
            /*用户-删除*/
            function member_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }
    </script>

}

